@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%),
    url('https://source.unsplash.com/1920x1280/?abstract');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h2 {
  text-align: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  width: 400px;
  -webkit-box-shadow: -3px 19px 27px 14px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -3px 19px 27px 14px rgba(0, 0, 0, 0.25);
  box-shadow: -3px 19px 27px 14px rgba(0, 0, 0, 0.25);
}

.form-control label {
  font-weight: 400px;
}

.form-control input {
  width: 100%;
  padding: 10px;
  border: 2px solid #f0f0f0;
  outline: none;
  margin: 10px auto;
  font-family: 'Open Sans', sans-serif;

  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
}

.form {
  padding: 30px 20px;
}

.form-control input:focus {
  outline: none;
  border-color: #777;
}

.form-control {
  margin-bottom: 10px;
  position: relative;
}

.form-control.success input {
  border-color: rgb(71, 166, 255);
  -webkit-box-shadow: 1px 1px 50px 0px rgba(49, 255, 0, 0.5);
  -moz-box-shadow: 1px 1px 50px 0px rgba(49, 255, 0, 0.5);
  box-shadow: 1px 1px 50px 0px rgba(49, 255, 0, 0.5);
}

.form-control.error input {
  border-color: tomato;
  -webkit-box-shadow: 1px 1px 50px 0px rgba(255, 11, 0, 0.5);
  -moz-box-shadow: 1px 1px 50px 0px rgba(255, 11, 0, 0.5);
  box-shadow: 1px 1px 50px 0px rgba(255, 11, 0, 0.5);
}

.form-control span {
  visibility: hidden;
}

.form-control.error span {
  visibility: visible;
}

.form button {
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(47, 0, 255);
  color: #fff;
  padding: 10px;
  outline: none;
  border: none;
  font-family: 'Open Sans', sans-serif;

  font-weight: 500;
  font-size: 18px;
}
